<ion-item class="custom-input" lines="none">
  <!--colocamos un icono para que se vea de ayuda-->
  <ion-icon color="secondary" *ngIf="icon" slot="start" [name]="icon"></ion-icon> <!--El nombre es variable-->

  <!--Le pasamos todos los datos de nuestro input-->
  <ion-input [type]="type" [autocomplete]="autocomplete" [label]="label" [formControl]="control"
    labelPlacement="floating"></ion-input>

  <!-- Button eye para el input con clave-->
  <ion-button *ngIf="isPassword"   (click)="ShowOrHidePassword()" slot="end" fill="clear" shape="round">
    <ion-icon slot="icon-only" [name]="hide ? 'eye-outline': 'eye-off-outline' "></ion-icon>
  </ion-button>

</ion-item>